/* HELPER CLASS STARTS HERE */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*,
::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
}

* img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* HELPER CLASS ENDS HERE */
html {
  font-size: 10px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  position: relative;
  margin: 0px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vh;
}

.image__slider {
  position: relative;
}

.image__slider svg {
  height: 296px;
  /* width: 296px; */
  z-index: 9999;
}

.image__slider--one {
  display: none;
  position: absolute;
  top: -1px;
}

.image__slider--one .sliderInnertext {
  background: url("/images/pattern-quotes.svg");
  height: 50px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.image__slider--one .sliderInnertext h2 {
  color: #202046;
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.7rem;
  line-height: 26px;
  text-align: center;
}

.image__slider--one .sliderInnertext p {
  font-weight: 700;
  font-size: 1.7rem;
  color: #202046;
  padding-top: 10px;
  text-align: center;
}

.image__slider--one .sliderInnertext p:nth-of-type(2) {
  color: #babacf;
  font-weight: 500;
  padding-top: 6px;
}

.active {
  display: block;
}

.last-svg {
  position: fixed;
  bottom: -64px;
  width: 300px;
  height: 20%;
  left: 0px;
  background: url("/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0px;
}

.button {
  position: relative;
}

.button .tabs {
  position: absolute;
  left: 40%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80px;
  border-radius: 10px;
  height: 36px;
  bottom: -9px;
}

.button .tabs svg {
  width: 15px;
  height: 15px;
}

/*
Desktop(1440px) Design Start Here
*/
@media screen and (min-width: 1040px) {
  img {
    -webkit-box-shadow: 3px 13px 16px 1px #00000036;
            box-shadow: 3px 13px 16px 1px #00000036;
  }
  .image__slider svg {
    height: 582px;
    width: 368px;
    z-index: -9999;
    position: relative;
    left: 236px;
    /* bottom: -126px; */
  }
  .image__slider--one {
    display: none;
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .image__slider--one .sliderInnertext {
    position: absolute;
    left: -400px;
    top: 160px;
    width: 550px;
    text-align: left;
  }
  .image__slider--one .sliderInnertext h2 {
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 35px;
    text-align: left;
    width: 620px;
  }
  .image__slider--one .sliderInnertext p {
    margin-top: 10px;
    font-size: 1.7rem;
  }
  .image__slider--one .sliderInnertext p:nth-of-type(2) {
    padding-top: 10px;
    padding-left: 20px;
  }
  img {
    padding: 0px;
    grid-column: 1/-1;
    position: relative;
    right: -158px;
    top: 48px;
  }
  .active {
    display: -ms-grid;
    display: grid;
  }
  .button .tabs {
    top: -152px;
    left: 778px;
  }
  .p-flx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    cursor: pointer;
  }
  .last-svg {
    position: fixed;
    bottom: -64px;
    width: 518px;
    height: 25%;
    left: 0px;
    background: url("/images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0px;
  }
  .attribution {
    position: relative;
  }
}
/*# sourceMappingURL=main.css.map */